.image{
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    margin-right: 150px;
    margin-top: -30px;
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .image{
        margin-left: 20px;
        

    }
    .details{
        margin-top: 30px;
    }
}